<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mongoose Store</title>
	</head>
	<body>
		<h1>Shop</h1>
        <ul>
			<% store.forEach(store => { %>
			<li><a href="/store/<%=store._id; %>"><%=store.title; %></a></li>
            <!-- ^have to add an underscore bc thats how mongoDB convention works -->
			<% }) %>
		</ul>
        <!-- squid displays the results and the flounder runs the javascript inside the html -->
        <nav>
            <a href="/store/new">Add a New Product</a>
        </nav>
	</body>
</html>